<ion-content id="{{backgroundValue}}">

  <!-- Ready form -->
  <ion-row id="readyDiv" [hidden]=readyHidden>
    <ion-col size="12" class="ion-align-self-center">
      <ion-card>
        <ion-item>
          <ion-label> {{message}}</ion-label>
        </ion-item>
        <ion-item *ngIf="currentScore != 0">
          <ion-label>{{currentScore}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-button (click)="startQuiz()">
              Prêt ?
            </ion-button>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- Quiz form -->
  <ion-row id="playDiv" [hidden]=playHidden>
    <ion-col size="12">
      <ion-card>
        <ion-item>

          <ion-label class="_{{timerValue}}" style="text-align:left;">{{ timerValue }}</ion-label>
          <ion-icon *ngFor="let j of i(lifes)" class="life" name="heart" slot="end"></ion-icon>

        </ion-item>

      </ion-card>
      <ion-label>Score : {{currentScore}}</ion-label>
    </ion-col>

    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-card (click)="userAnswer(firstAnswer.date - secondAnswer.date)">

        <ion-item>
          <ion-label>{{firstAnswer.name}}</ion-label>
        </ion-item>

        <ion-card-content>
          <img src="{{firstAnswer.pic}}">
        </ion-card-content>
      </ion-card>

      <p>VERSUS</p>
      <ion-card (click)="userAnswer(secondAnswer.date - firstAnswer.date)">
        <ion-item>

          <ion-label>{{secondAnswer.name}}</ion-label>

        </ion-item>

        <ion-card-content>
          <img src="{{secondAnswer.pic}}">
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="2"></ion-col>

    <!-- <ion-col class="ion-align-self-center">
      <ion-button (click)="endQuiz()">
       Dommage c'est perdu
      </ion-button>
    </ion-col>
    <ion-col class="ion-align-self-end">

    </ion-col> -->
  </ion-row>
</ion-content>