#readyDiv {
    height: 100%; 
    vertical-align: center;
}

#playDiv {
    height:80%;
    text-align: center;

}
#playDiv>ion-col>ion-card>ion-item, #readyDiv>ion-col>ion-card>ion-item {
    text-align:center;
}

#playDiv>ion-card {
    height:50%;
    width:70%;
  
}


// TimerClass
._1, ._2 {
    color: red;
}

._3, ._4, ._5{
    color:orange
}

._6, ._7, ._8, ._9, ._10{
    color:lime;
}

// background on answer
#default {
    --background:none;

}
#yes {
    animation: true ease;
    animation-duration: 0.75s;
    animation-fill-mode: both;
}
#no {
    animation: false ease;
    animation-duration: 0.75s;
    animation-fill-mode: both;
}

@keyframes true {
    0% {
     --background:none;
    }
    
    50% {
      background-color: rgba(151, 222, 133, 0.4);
    }
    
    100% {
        --background:none;
    }
  }

  @keyframes false {
    0% {
        --background:none;
    }
    
    50% {
      background-color: rgba(222, 133, 133, 0.4);
    }
    
    100% {
        --background:none;
    }
  }
// end OfBackground on answer
.life {
    color:lightgreen;
}

img {
    height: 128px;
}