<ion-app>

  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Qui est le plus vieux</ion-list-header>
        <ion-note>@pseudo</ion-note>
        <ion-item lines="full">

          <ion-label>
            Mode nuit
          </ion-label>
          <ion-item lines="none">
            <ion-toggle (click)="nightToggle()" id="themeToggle" slot="end"></ion-toggle>
          </ion-item>
          <!--
           <ion-icon style="display:none" id="toThemeDark"  (click)="nightToggle()" slot="start" name="moon"></ion-icon>
           <ion-icon style="display:none" id="toThemeLight"  (click)="nightToggle()" slot="start" name="sunny-outline"></ion-icon> -->
          <!-- <ion-toggle (ionChange)="nightToggle()" id="themeToggle" slot="end"></ion-toggle> -->
        </ion-item>
        <ion-menu-toggle auto-hide="false">
          <!-- <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item> -->
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-header id="navbar">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        Quiz
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="no-scroll">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</ion-app>