<ion-content>
  <ion-list>
    <ion-list-header> Notes </ion-list-header>
    <ion-item *ngFor="let quiz of quizz;">
      <ion-label button (click)="goToQuizz(quiz.id)">{{quiz.title}}</ion-label>
      <ion-note slot="end" color="primary">{{quiz.bestScore}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>